body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#cad5de,#cad5de);
    text-align:center;
    font-family: 'Poppins', sans-serif;
}

.container{ padding:20px; }

h1,h2{ color:#1E2240; }


.selecionado{
    background-color: #ff7675 !important;
    transform: scale(1.05);
}

input{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    margin:5px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    margin:20px auto;
    max-width:400px;
}

.hidden{ display:none; }

.tela-inicial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 280px;
    margin-bottom: 40px;
}

.btn-jogar {
    width: 260px;
    padding: 17px;
    background-color: #58C4B6;
    color: #1E2240;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 4px solid #1E2240;

}

.btn-jogar:hover {
    transform: scale(1.2);
}

.como-jogar {
    margin-top: 15px;
    color: #58C4B6;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
}

.como-jogar:hover {
    color: #459b8f;

}

.tela-jogadores {
    min-height: 100vh;
    padding: 10px 10px;
    text-align: center;
}

.tela-jogadores h2 {
    font-weight: 600;
    color: #1E2240;
}

.tela-jogadores span {
    font-size: 14px;
}

.lista-jogadores {
    margin-top: 30px;
}

.input-jogador {
    background-color: #1E2240;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.input-jogador input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 18px;
    flex: 1;
    min-width: 0;
}

.input-jogador i {
    font-size: 20px;
    color: #ff6b6b;
    cursor: pointer;
    flex-shrink: 0; 
}

.input-jogador i:hover {
    transform: scale(1.2);
    color: #cad5de;
}

.area-adicionar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.btn-adicionar {
    background-color: #58C4B6;
    color: #1E2240;
    border: 4px solid #1E2240;
    padding: 8px 16px;
    border-radius: 12px;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
}

.btn-adicionar:hover {
    transform: scale(1.1);
}

.btn-iniciar {
    display: block;
    margin: 4px auto 0;
    width: 200px;
    padding: 14px;
    background-color: #58C4B6;
    color: #1E2240;
    border: 4px solid #1E2240;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-iniciar:hover {
    transform: scale(1.1);
}

.hidden{
    display: none;
}

.mensagem-erro {
    margin-top: 15px;
    color: #ff4d4d;
    font-weight: 600;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    animation: aparecer 0.3s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-voltar{
    background: transparent;
    border: none;
    font-size: 32px;
    color: #1E2240;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-voltar:hover{
    transform: scale(1.2);
    color: #58C4B6;
}
